@model RecetAgro_WS.Models.Productor
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Detaille de Productor</h3>
<p>@Model.Nombre</p>
<p>@Model.ApellidoPaterno</p>
<p>@Model.ApellidoMaterno</p>
<p>@Model.Telefono</p>
<p>@Model.Email</p>

