@model List<RecetAgro_WS.Models.Productor>
@{
    ViewBag.Title = "Productores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Productores</h3>


<div class="row">
    <div class="col-md-6">
        <h5>Catálogo de Productores</h5>
    </div>
    <div class="col-md-6">
        <div class="text-right">            
            <a class="btn btn-outline-primary btn-lg" href="New">Nuevo Productor</a>
        </div>        
    </div>
</div>  
<hr />

@*@if (!Model.Any())
{
    <p>No hay elementos para mostrar</p>
}
else
{
    <table id="productores" class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Paterno</th>
                <th>Materno</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prod in Model)
            {
                <tr>
                    <td>@Html.ActionLink(prod.Nombre, "Edit", "Productor", new { id = prod.Id }, null ) </td>
                    <td>@prod.ApellidoPaterno</td>
                    <td>@prod.ApellidoMaterno</td>
                    <td>@prod.Telefono</td>
                    <td>@prod.Email</td>
                    <td>
                        <button data-productor-id="@prod.Id" class="btn btn-danger js-delete">Eliminar</button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}*@

@*-----------------------------------------------------*@

<table id="productores" class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Nombre</th>
            <th>Paterno</th>
            <th>Materno</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {            

          var table =  $("#productores").DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"                    
                },

                ajax: {
                    url: "/api/productores",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "nombre",
                        render: function (data, type, row) {
                            return "<a href='/productor/edit/" + row.id + "'>" + row.nombre + "</a>";                            
                        }
                    },
                    {
                        data: "apellidoPaterno"
                    },
                    {
                        data: "apellidoMaterno"
                    },
                    {
                        data: "telefono"
                    },
                    {
                        data: "email"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-danger js-delete' data-productor-id=" + data + ">Eliminar</button>";
                        }
                    }
                ]
            });




            $("#productores").on("click", ".js-delete", function () {                
                var button = $(this);
                
                if (confirm("Estás seguro que deseas eliminar el registro?")) {
                    $.ajax({
                        url: "/api/productores/" + button.attr("data-productor-id"),
                        method: "DELETE",
                        success: function () {
                            table.row(button.parents("tr")).remove().draw();
                            //button.parents("tr").remove();
                            toastr.success("Registro eliminado");
                        }
                    });
                }

                //bootbox.confirm("Estás seguro que deseas eliminar el registro?", function (result) {                
                //    if (result) {
                //        $.ajax({
                //            url: "/api/productores/" + button.attr("data-productor-id"),
                //            method: "DELETE",
                //            success: function () {
                //                button.parents("tr").remove();
                //            }
                //        });                        
                //    }
                //});                

            });

        });
    </script>
}




